{{#if result}}
<div class="container wrapper">
    <br>
    <br>
    <br>
    <div class="row">

        <div class="col-0 col-lg-2"></div>
        <div class="col-lg-3">
            <h2>{{result.workout}}</h2>
        </div>
        <div class="col-0 col-lg-3"></div>
        <div class="col-lg-4">
            <button class="btn btn-dark visualize">Visualize the Data</button>
        </div>
    </div>
    <div class="row justify-content-center">


        {{#each result.data}}
        <div class="col-lg-3 col-6">
            <div class="card mx-1">
                <h5 class="card-header workoutTitle">{{workoutName}}</h5>
                <div class="card-body">
                    {{#if reps}}
                    <p class="card-text">Reps: <span class="repNumber">{{reps}}</span></p>
                    <p class="card-text">Sets: <span class="setNumber">{{sets}}</span></p>
                    <p class="card-text">Weight: <span class="weightNumber">{{weight}}</span></p>
                    {{else}}
                    <p class="card-text">Length: <span class="repNumber lengthNumber">{{length}} </span> minutes</p>
                    <p class="card-text">Calories: <span class="setNumber">{{calories}}</span></p>
                    <p class="card-text">Rest: <span class="weightNumber">{{rest}}</span> minutes</p>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}


    </div>
    <div class="row">
        <div class="col-lg-2 col-0"></div>
        <div class="col-lg-8 col-12">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-lg-2 col-0"></div>
    </div>
</div>
{{else}}
<div class="container-fluid wrapper">
    <br>
    <br>
    <br>
    <div class="row center">
        <div class="col-2"></div>
        <div class="col-1"></div>
        <div class="col-6">

            <div class="card text-center">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <h5>Sorry We Couldn't Find a Search for That</h5>
                    <button class="btn btn-dark"> <a href="/">Go Back Home</a> </button>
                </div>
                <div class="card-footer text-muted">

                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}